html, body {
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
  width: 1200 px;
	height: 1080px;
  font-family: Open Sans;
}
#header {
  background-color: #3399ff;
  height: 150 px;
  color: #ffffff;
}

footer {
 background-color: #3399ff;
  height: 150 px;
  color: #ffffff;
}

