@charset "UTF-8";
body {
 margin: 0 auto;
 margin-top: 15px;
 width: 100%;
 height: 100%;
 background-image: url("tlo.jpg");
 font-family: Arial;
 
}


#bigheader {
  margin: 0 auto;
  width: 56.25%;
  height: 120px;
  background-color: #454545;
  
}

#header {
 width: 56.25%;
 max-height: 120px;
 background-color: #454545;

}

#logo {
 width: 100px;
 float: left;
 padding: 9px 5%;

} 

#menu {
  text-align: right;
	padding: 50px 5%;
	margin: 0 auto;
  max-width: 70%;
	max-height: 30px;
  position: absolute;
	right: 20%;
}

#menu li {
	display: inline;
	padding: 0 10px;
}

#menu a {
	color: #FFFFFF;
	font: bold 1em Arial;
	text-decoration: none;
}
#menu a:hover {
	color: #0080FF;
}

#tresc {
  margin: 0 auto;
  width: 56.25%;
  height: 700px;
  margin-top: 10px;
  position: relative;
  text-align: center;

  

a {
 text-decoration: none;
}

#footer {
  margin: 0 auto;
  width: 56.25%;
  height: 6.94%;
  background-color: #454545;
  margin-top: 10px;
  text-align: center;
  color: white;
}



#tresc2 {
	text-align: center;
  margin: 0 auto;
  width: 78.70%
	min-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tresc3 {
 
  margin: 0 auto;
  width: 90%;
  position: absolute
	min-height: 600px;
	text-align: center;
  
}

h2 {
 color: #454545;
}

